<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	<!-- 利用ApplicationContextAware接口实现 -->
	<bean id="myApplicationContext" class="com.xinchen.spring.aware.MyApplicationContext"></bean>
	<!-- 利用BeanNameAware接口实现 -->
	<bean id="beanName" class="com.xinchen.spring.aware.BeanName"></bean>
</beans>