<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.xinchen.ssm.dao.UserMapper -->
<!-- com.xinchen.ssm.dao.UserDao -->
<!-- 命名空间的名字要和Dao里面的接口名一致，不然会报错：org.apache.ibatis.binding.BindingException: 
	Invalid bound statement (not found): -->
<mapper namespace="com.xinchen.ssm.dao.UserDao">
	<resultMap type="com.xinchen.ssm.entity.User" id="User">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.username,
		t.password
	</sql>

	<!-- 查询所有person -->
	<select id="queryAll" resultMap="User">
		select
		<include refid="Base_Column_List" />
		from user as t
	</select>
	<!-- 添加新用户 -->
	<insert id="save" parameterType="com.xinchen.ssm.entity.User">
		insert into user (username,password)
		values (#{username},#{password})
	</insert>
</mapper>